*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(44, 41, 48);
    height: 100%;
    text-align: center;
}

p{
    margin: auto auto 1vh;
}

img{
    margin-bottom: 1vh;
}

h1{
    color: rgb(114, 133, 128);
    border-bottom: 2px solid rgb(0, 0, 0);
    margin: auto;
    margin-bottom: 1vh;
}

h2{
    color: rgb(65, 65, 65);
    border-bottom: 1px dotted rgb(0, 0, 0);
    margin: auto;
    margin-bottom: 1vh;
}

ul{
    margin: auto;
    padding: 0vh;
}

ol{
    margin: auto;
    padding: 0vh;
}

li{
    list-style: none;
    font-size: 18px;
    margin: 1vh auto;
}

.box{
    display: block;
    margin: 0 auto;
    float: none;
    width: 40%;
    height: 90vmax;
    background-color: antiquewhite;
    position: static;
}

.empty-space{
    display: block;
    height: 50px;
}

.header-footer-space{
    display: block;
    height: 20px;
}

a{
    margin-bottom: 1vh;
}

a:link{
    color: rgb(138, 107, 5);
}

a:visited{
    color: rgb(44, 30, 77);
}